.title{
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 20px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
}

.navItems{
    border: 2px solid black;
    list-style-type: none;
    padding: 5px 7px;
    border-radius: 15px;
    margin: 0px 30px;
    background-color: lightyellow;
    font-size: large;
}